# Level-1

# Task1 - Data Exploration and Preprocessing

# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import folium

# Reading Data Set

In [2]:
df = pd.read_csv("Dataset.csv")

In [3]:
df.head(5)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

# Calculating Number Of Rows And Coloumns

In [4]:
a_rows, b_cols = df.shape
print(f"The dataset has {a_rows} rows and {b_cols} columns.")

The dataset has 9551 rows and 21 columns.

# Check for missing values in each column

In [5]:
M_values = df.isnull().sum()
print("Missing values in each column:")
print(M_values)

Missing values in each column:
Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

# Handle The Missing Values

In [6]:
df = df.dropna(axis=0)

# Perform data type conversion

In [7]:
# Converting 'Aggregate rating' coloumn to float
df['Aggregate rating'] = df['Aggregate rating'].astype(float)

# Analyze the distribution of the target variable

In [8]:
target_distribution = df['Aggregate rating'].value_counts()
print("Distribution of Aggregate rating:")
print(target_distribution)

Distribution of Aggregate rating:
0.0    2148
3.2     522
3.1     519
3.4     495
3.3     483
3.5     480
3.0     468
3.6     458
3.7     427
3.8     399
2.9     381
3.9     332
2.8     315
4.1     274
4.0     266
2.7     250
4.2     221
2.6     191
4.3     174
4.4     143
2.5     110
4.5      95
2.4      87
4.6      78
4.9      61
2.3      47
4.7      41
2.2      27
4.8      25
2.1      15
2.0       7
1.9       2
1.8       1
Name: Aggregate rating, dtype: int64

#  identify the class imbalances.

In [9]:
class_imbalance = target_distribution / len(df) * 100

print("Class imbalance (%):")
print(class_imbalance)

Class imbalance (%):
0.0    22.511004
3.2     5.470551
3.1     5.439111
3.4     5.187592
3.3     5.061832
3.5     5.030392
3.0     4.904632
3.6     4.799832
3.7     4.474953
3.8     4.181513
2.9     3.992874
3.9     3.479354
2.8     3.301195
4.1     2.871515
4.0     2.787676
2.7     2.619996
4.2     2.316076
2.6     2.001677
4.3     1.823517
4.4     1.498638
2.5     1.152798
4.5     0.995598
2.4     0.911759
4.6     0.817439
4.9     0.639279
2.3     0.492559
4.7     0.429679
2.2     0.282960
4.8     0.262000
2.1     0.157200
2.0     0.073360
1.9     0.020960
1.8     0.010480
Name: Aggregate rating, dtype: float64